/Raytrace/nbproject/private/
/Raytrace/build/
/Raytrace/dist/
/ColorfulCircles/nbproject/private/
/ColorfulCircles/build/
/ColorfulCircles/dist/
/Cube3D/nbproject/private/
/Cube3D/dist/
/Cube3D/build/
/Raytracer/nbproject/private/
/Raytracer-Preloader/nbproject/private/